<div class="center jumbotron">
    
    <h1>Welcome to the Fee Refund Tracking App!</h1>
    <h2>This app is used to track fee refunds within the Business Banking Group</h2>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("ref.jpg", alt: "Refund logo") %>